<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czy.test_model">

    <application>
        <activity android:name=".DataStoreActivity" />
        <activity android:name=".TestMainActivity" />
    </application>
</manifest>