<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus_login">

    <application>
        <activity android:name="com.czy.yq_wanandroid.business.login.LoginActivity" />
        <activity android:name=".collect.CollectArticleActivity" />
    </application>
</manifest>