<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.czy.lib_webview">

    <application>
        <activity
            android:name="com.czy.lib_webview.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|fontScale|density|orientation"/>
    </application>
</manifest>